@if(!getListItens().length){
<div class="container">
  <img
    src="../../../../../assets/img/task-list-null.png"
    alt="sua lista está vazia - imagem ilustrativa"
    loading="eager"
  />
  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Crie uma lista de tarefas
  </button>
  }@else {
  <app-input-add-item
    [inputListItens]="getListItens()"
    (outputAddListItens)="getInputAndAddItem($event)"
  />
  }
</div>
}@else {
<app-input-add-item
  [inputListItens]="getListItens()"
  (outputAddListItens)="getInputAndAddItem($event)"
/>
<main class="container">
  @if(listItemsStage('pending').length){
  <h2>Pendências</h2>
  <app-input-list-item
    [inputListItens]="listItemsStage('pending')"
    (outputUpdateItemCheckbox)="updateItemCheckbox($event)"
    (outputUpdateItemText)="updateItemText($event)"
  />
  } @if(listItemsStage('completed').length){
  <h2>Concluídas</h2>
  <app-input-list-item
    [inputListItens]="listItemsStage('completed')"
    (outputUpdateItemCheckbox)="updateItemCheckbox($event)"
    (outputUpdateItemText)="updateItemText($event)"
  />
  }
</main>
<footer>
  <button class="btn btn-danger" (click)="deleteAllItens()">
    Deletar todos os Itens
  </button>
</footer>

}
